body {
	box-sizing: border-box;
	background-color: var(--background-color);
	-webkit-tap-highlight-color: transparent;
	font-family: Helvetica;
	justify-content: center;
	margin: 0;
	padding: 32px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	justify-content: center;
	align-items: center;
}
/* Adjustable part */
:root {
	--main-color: blueviolet;
	--background-color: lightgrey;
	--shadow-color: black;

	--frame-width: 300px;
	--frame-height: 400px;
	--frame-aspect-ratio: 3 / 4;
}
/* End of Adjustable part */
.frame-container {
	display: flex;
}
button {
	aspect-ratio: 1 / 1;
	border-radius: 99rem;
	align-self: center;
	cursor: pointer;
	background-color: transparent;
	border: 2px solid var(--main-color);
	color: hsl(0, 0%, 95%);
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 2px var(--shadow-color);
	transform: scale(100%);
	transition: 0.1s ease-in-out;
}
button:active{
	transform: scale(95%);
}
button:hover {
	color: var(--background-color);
}
.play-btn,
.previous-btn,
.next-btn {
	width: 48px;
	background-color: var(--main-color);
	z-index: 999;
}
.previous-btn {
	position: relative;
	left: 8px;
}
.next-btn {
	position: relative;
	right: 8px;
}

/* Responsive frame */
.frame {
	border: 2px solid var(--main-color);
	width: min(var(--frame-width), 45vw);
	height: min(var(--frame-height), 60vw);
	overflow: hidden;
	border-radius: 4px;
	box-shadow: 1px 1px 2px var(--shadow-color);
}
.tape {
	height: inherit;
	position: relative;
	/* right: 0px; <- Set dynamically by .js*/
	display: flex;
	transition: right 0.3s ease-in-out;
}
.tape > img {
	width: min(var(--frame-width), 45vw);
	aspect-ratio: var(--frame-aspect-ratio);
	align-self: flex-start;
}
.dots-box {
	display: flex;
	gap: 16px;
}
.dot {
	width: 12px;
}

.dot-filled {
	background-color: var(--main-color);
}
a {
	position: fixed;
	bottom: 4px;
	font-size: 0.7rem;
	text-decoration: none;
	color: var(--main-color);
	z-index: -1;
}